@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    font-size: 12px;
    background-color: #2a2a2a;
    display: flex;
    color: #c1c1c1;
    margin-right: 0;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h3{
    font-weight: bold;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

a {
    color:#e69710;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li::marker {
    color: #e69710;
}

.blocoColoridoTexto li::marker {
    color: #c1c1c1;
}

/* Menu de Navegação Lateral */

header {
    padding-right: 5px;
    font-size: 12px;
}

#logoNav {
    text-align: center;
}

#logoNav img {
    height: 130px;
    padding-right: 15px;
    padding-left: 15px;
}

header ul {
    padding-left: 20px;
}

header ul li {
    list-style: none;
    margin-bottom: 5px;
}

#navImportante {
    border-bottom: #7c7c7c solid 1px;
    margin-bottom: 8px;
}

#navLinks {
    margin-top: 8px;
    border-bottom: #7c7c7c solid 1px;
}

header span {
    color: #7c7c7c;
    padding: 3px 0px;
}

/* Pagina Principal */

#paginaPrincipal {
    text-align: center;
    border: solid #280c2c 1px;
    padding: 15px;
    width: 100%;
    background-color: #333;
}

#paginaPrincipal h1 {
    border-bottom: 1px solid #c1c1c1;
    font-size: 60px;
}

#paginaPrincipal h1, h2 {
    margin: 0;
}

#paginaPrincipal > img {
    height: 250px;
}

h1#nomePagina {
    font-size: 28px;
    text-align: left;
    padding-bottom: 3px;
    margin-bottom: 15px;
    font-weight: normal;
}

#paginaPrincipal table {
    width:700px;
}

#paginaPrincipal table h2 {
    font-size: 18px;
    font-weight: normal;
    border-bottom: solid 1px #c1c1c1;
}

#paginaPrincipal table h2 a {
    font-size: 18px;
    font-weight: normal;
}

#paginaPrincipal table tr td ul {
    text-align: left;
    padding-left: 20px;
}

ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

ol li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#paginaPrincipal td {
    width: 116px;
    height: 116px;
}

ul ul {
    border: 0;
    padding-left: 20px;
}

#sumario {
    display: flex;
    justify-content: center;
}

#paginaPrincipal table ul {
    margin-top: 0;
}

/* Outras Páginas */


#conteudo {
    border: solid #280c2c 1px;
    padding: 15px;
    background-color: #333;
    border-right: 0;
    margin-right: 0;
}

#conteudo h1 {
    border-bottom: 1px solid #c1c1c1;
    font-size: 60px;
}

#conteudo h1, h2 {
    margin: 0;
}

#conteudo h1#nomePagina {
    font-size: 28px;
    text-align: left;
    padding-bottom: 3px;
    margin-bottom: 15px;
    font-weight: normal;
}

#conteudo ul ul {
    border: 0;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#conteudo ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#conteudo h2 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 1px #c1c1c1;
}

#conteudo h2 i {
    font-size: 18px;
    font-weight: bold;
}

#conteudo h3 {
    font-size: 16px;
}

#conteudo h3 i {
    font-size: 14px;
    font-weight: bold;
}

#logoCentroPequena {
    width: 200px;
}

#centralizarSobreLogo {
    width: 100%;
    text-align: center;
    border-bottom: solid 1px #c1c1c1;
}

/* Imagens */

img#fotoMandamentos {
    width: 300px;
    border: solid 1px #c8ccd1;
}

#fotoErmos {
    width: 408px;
    border: solid 1px #c8ccd1;
}

#fotoCidade {
    width: 322px;
    border: 1px solid #c8ccd1;
}

#fotoBracadeira {
    width: 153px;
    border: 1px solid #c8ccd1;
}

.imagemDireita {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bordaImagem {
    border: solid 1px #666;
    padding: 3px;
    background-color: #4c4c4c;
    display: grid;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    align-items: center;
}

.bordaImagem span {
    padding: 5px 0;
}

/* Imagem facções */

.paginaImagemFac {
    display: flex;
    align-items: flex-start;
}

table.imagemFaccao {
    margin-left: 12px;
    width:275px;
    border: 1px solid DimGrey; 
    padding: 3px;
    box-shadow: 0px 0px 2px 2px DimGrey;
    min-width: 270px;
}

tr.imagemFaccaoCategoria td {
    text-align: center; 
    border: 1px solid Grey;
    padding: 3px;
    font-weight: 400;
}

a#imagemTextoDesc {
    color:white;
    text-decoration:underline;
    font-family: "Roboto", sans-serif; 
    font-size: 11px;
}

tr.imagemFaccaoNome td {
    text-align:center; 
    font-family: "Roboto", sans-serif; 
    font-size: 15px; 
    border: 1px solid Grey;
    padding: 3px;
    font-weight: bold;
}

tr.imagemFaccaoImagem img {
    width: 275px;
}

tr.imagemFaccaoDesc td {
    padding: 3px;
    text-align: center; 
    font-size: 9px; 
    border: 1px solid Grey;
    font-style: italic;
}

/* Outros */

.blocoColoridoTexto {
    background-color: #4c4c4c;
    padding: 12px;
    margin: 12px 0;
    font-family: monospace, sans-serif;
    font-size: 12px;
}

@media screen and (min-width:899px) {
    #conteudo {
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .imagemDireita {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .paginaImagemFac {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    header {
        display: none;
    }
}